In [15]:
import pandas as pd

export_df = pd.read_csv("../dataset/2010_2021_HS2_export.csv")
print(export_df.head())

   HSCode                                          Commodity  value  \
0       2                        MEAT AND EDIBLE MEAT OFFAL.   1.40
1       3  FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT...   0.08
2       4  DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...   3.89
3       5  PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE SPECI...    NaN
4       6  LIVE TREES AND OTHER PLANTS; BULBS; ROOTS AND ...    NaN

       country  year
0  AFGHANISTAN  2010
1  AFGHANISTAN  2010
2  AFGHANISTAN  2010
3  AFGHANISTAN  2010
4  AFGHANISTAN  2010

In [16]:
import_df = pd.read_csv("../dataset/2010_2021_HS2_import.csv")
print(import_df.head())

   HSCode                                          Commodity  value  \
0       7    EDIBLE VEGETABLES AND CERTAIN ROOTS AND TUBERS.   9.14
1       8  EDIBLE FRUIT AND NUTS; PEEL OR CITRUS FRUIT OR...  93.82
2       9                      COFFEE, TEA, MATE AND SPICES.   2.54
3      12  OIL SEEDS AND OLEA. FRUITS; MISC. GRAINS, SEED...   0.32
4      13  LAC; GUMS, RESINS AND OTHER VEGETABLE SAPS AND...  37.67

       country  year
0  AFGHANISTAN  2010
1  AFGHANISTAN  2010
2  AFGHANISTAN  2010
3  AFGHANISTAN  2010
4  AFGHANISTAN  2010

In [17]:
print("Export Shape:", export_df.shape)
print("Import Shape:", import_df.shape)

Export Shape: (184755, 5)
Import Shape: (101051, 5)

In [18]:
print("Export Columns:")
print(export_df.columns)

print("\nImport Columns:")
print(import_df.columns)

Export Columns:
Index(['HSCode', 'Commodity', 'value', 'country', 'year'], dtype='object')

Import Columns:
Index(['HSCode', 'Commodity', 'value', 'country', 'year'], dtype='object')

In [19]:
export_df["Trade_Type"] = "Export"
import_df["Trade_Type"] = "Import"

In [20]:
trade_df = pd.concat([export_df, import_df], ignore_index=True)

print("Combined Trade Data Created")
print(trade_df.head())

Combined Trade Data Created
   HSCode                                          Commodity  value  \
0       2                        MEAT AND EDIBLE MEAT OFFAL.   1.40
1       3  FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT...   0.08
2       4  DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...   3.89
3       5  PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE SPECI...    NaN
4       6  LIVE TREES AND OTHER PLANTS; BULBS; ROOTS AND ...    NaN

       country  year Trade_Type
0  AFGHANISTAN  2010     Export
1  AFGHANISTAN  2010     Export
2  AFGHANISTAN  2010     Export
3  AFGHANISTAN  2010     Export
4  AFGHANISTAN  2010     Export

In [21]:
print(trade_df.shape)
print(trade_df.info())

(285806, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285806 entries, 0 to 285805
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   HSCode      285806 non-null  int64
 1   Commodity   285806 non-null  object
 2   value       250803 non-null  float64
 3   country     285806 non-null  object
 4   year        285806 non-null  int64
 5   Trade_Type  285806 non-null  object
dtypes: float64(1), int64(2), object(3)
memory usage: 13.1+ MB
None

In [22]:
trade_df.columns = trade_df.columns.str.lower()
print(trade_df.columns)

Index(['hscode', 'commodity', 'value', 'country', 'year', 'trade_type'], dtype='object')

In [23]:
print(trade_df.isnull().sum())

hscode            0
commodity         0
value         35003
country           0
year              0
trade_type        0
dtype: int64

In [24]:
trade_df = trade_df.dropna()
print("After removing nulls:", trade_df.shape)

After removing nulls: (250803, 6)

In [25]:
trade_df = trade_df.drop_duplicates()
print("After removing duplicates:", trade_df.shape)

After removing duplicates: (250803, 6)

In [26]:
trade_df["year"] = trade_df["year"].astype(int)
trade_df["value"] = pd.to_numeric(trade_df["value"])

In [27]:
trade_df["country"] = trade_df["country"].str.strip()
trade_df["commodity"] = trade_df["commodity"].str.strip()
trade_df["trade_type"] = trade_df["trade_type"].str.strip()

In [28]:
trade_df.to_csv("../dataset/india_trade_cleaned.csv", index=False)

print("✅ Cleaned dataset saved successfully!")

✅ Cleaned dataset saved successfully!